* {
  padding: 0px;
  margin: 0px;
  color: #000000;
}

html {
  font-family: "trebuchet ms", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: .7em;
  height: 100%;
}

a img {
  border: none;
}

body {
  width: 100%;
  height: 100%;
}

ul.linearList li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.centered-content {
  text-align: center;
}

.center-me {
  margin-left: auto;
  margin-right: auto;
}

.error
{
  color: #ff0000;
}

input.error, textarea.error
{
  color: #000000;
  border: 1px: solid #ff0000;
}

input.submission-control {
  display: none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

span.contact_legend
{
  font-size: smallest;
}